<div *ngIf="!modoEdicion" class="card">
  <div class="title-and-buttons-card">
    <h2>Acerca de </h2>
    <div class="button-bkg">
      <i class="fas fa-pencil-alt" (click)="activarModoEdicion()"></i>
    </div>
  </div>
  <div class="text-card">
    <p>{{data?.aboutMe}}
    </p>
  </div>
</div>
<div *ngIf="modoEdicion" class="card">
  <div class="title-and-buttons-card">
    <h2>Acerca de</h2>
    <div class="button-bkg">
      <i class="fas fa-save" (click)="guardarCambios(data)"></i>
    </div>
  </div>
  <div class="text-card">
    <textarea [(ngModel)]="data.aboutMe"></textarea>
  </div>
</div>
