<div *ngIf="!modoEdicion" class="card">
  <div class="title-and-buttons-card">
    <h2>Acerca de </h2>
    <div class="button-bkg">
      <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion()"></i>
    </div>
  </div>
  <div class="text-card">
    <p>{{data?.aboutMe}}
    </p>
  </div>
</div>
<div *ngIf="modoEdicion" class="card">
  <div class="title-and-buttons-card">
    <h2>Acerca de</h2>
    <div class="buttons-container">
      <div class="button-bkg">
        <i class="fas fa-check" (click)="guardarCambios(data)"></i>
      </div>
      <div class="button-bkg">
        <i class="fas fa-ban" (click)="desactivarModoEdicion()"></i>
      </div>
    </div>
  </div>
  <div class="text-card">
    <div class="inputs-encabezado">
      <div class="all">
        <textarea class="form-control textarea-custom " [(ngModel)]="data.aboutMe"></textarea>
        <small class="form-text text-muted">Breve descripción</small>
      </div>
    </div>
  </div>
</div>
