<div class="card">
  <div class="title-and-buttons-card">
    <h2>Educación</h2>
    <div class="buttons-container">
      <div class="button-bkg">
        <i *ngIf="this.estaAuntenticado()" class="fas fa-plus" (click)="activarModoAdicion()"></i>
      </div>
    </div>
  </div>
  <div *ngFor="let educacion of listado; let i = index">
    <div *ngIf="seleccionIndex !== i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <p>{{educacion?.titleName}}</p>
        <div class="buttons-container">
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion(i)"></i>
          </div>
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-trash-alt" (click)="eliminar(educacion.educationId)"></i>
          </div>
        </div>
      </div>
      <div>
        <p>{{educacion.institute}}</p>
        <div style="display:flex">{{educacion?.startDate}} -
          <div *ngIf="!educacion.isActual">
            <p>{{ educacion.endDate }}</p>
          </div>
          <div *ngIf="educacion.isActual">
            <p>Actualidad</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="seleccionIndex === i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <input placeholder="Título" [(ngModel)]="educacion.titleName">
        <div class="buttons-container">
          <div class="button-bkg">
            <i class="fas fa-save" (click)="guardar(educacion)"></i>
          </div>
        </div>
      </div>
      <div>
        <input placeholder="Instituto" [(ngModel)]="educacion.institute">
        <input type="checkbox" [(ngModel)]="educacion.isActual" (change)="reiniciarFecha(educacion)"> <label>Actualmente estoy cursando</label>
        <input type="date" [(ngModel)]="educacion.endDate" [disabled]="educacion.isActual">
      </div>
    </div>

  </div>

  <div *ngIf="modoAdicion" style="border: 1px;">
    <div class="title-and-buttons-card">
      <input placeholder="Título" [(ngModel)]="nueva.titleName">
      <div class="buttons-container">
        <div class="button-bkg">
          <i class="fas fa-save" (click)="agregar(nueva)"></i>
        </div>
      </div>
    </div>
    <div>
      <input placeholder="Instituto" [(ngModel)]="nueva.institute">
      <input type="date" [(ngModel)]="nueva.startDate">
      <input type="checkbox" [(ngModel)]="nueva.isActual" (change)="reiniciarFecha(nueva)"> <label>Actualmente estoy cursando</label>
      <input type="date" [(ngModel)]="nueva.endDate" [disabled]="nueva.isActual">
    </div>
  </div>
</div>
