<div class="card">
    <div class="title-and-buttons-card">
      <h2>Idiomas</h2>
      <div class="buttons-container">
        <div class="button-bkg">
          <i class="fas fa-plus"></i>
        </div>
      </div>
    </div>
    <div *ngFor="let idioma of idiomaList ">
      <div style="border: 1px;">
        <div class="title-and-buttons-card">
          <p>{{idioma?.name}}</p>
          <div class="buttons-container">
            <div class="button-bkg">
              <i class="fas fa-pencil-alt"></i>
            </div>
          </div>
        </div>
        <div>
          <p>Nivel: {{idioma?.level}}</p>
        </div>
      </div>
    </div>
  </div>
  