<div class="card">
  <div class="title-and-buttons-card">
    <h2>Proyectos</h2>
    <div class="buttons-container">
      <div class="button-bkg">
        <i *ngIf="this.estaAuntenticado()" class="fas fa-plus" (click)="activarModoAdicion()"></i>
      </div>
    </div>
  </div>
  <!-- Agregar -->
  <div *ngIf="modoAdicion" class="box-border">
    <div class="title-and-buttons-card">
      <div class="all">
        <small class="form-text text-muted">Nombre del proyecto</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nuevo.name">
      </div>
      <div class="buttons-container">
        <div class="button-bkg">
          <i class="fas fa-check" (click)="agregar(nuevo)"></i>
        </div>
        <div class="button-bkg">
          <i class="fas fa-ban" (click)="desactivarModoAdicion()"></i>
        </div>
      </div>
    </div>
    <div>
      <div class="all ">
        <small class="form-text text-muted">Descripción</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nuevo.description">
      </div>
      <div class="all ">
        <small class="form-text text-muted">Github</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nuevo.github">
      </div>
      <div class="all ">
        <small class="form-text text-muted">Url</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nuevo.url">
      </div>
    </div>
  </div>

  <div class="box-border"  *ngFor="let proyecto of listado; let i = index ">
    <!-- Ver -->
    <div *ngIf="seleccionIndex !== i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <h6>{{proyecto?.name}}</h6>
        <div class="buttons-container">
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion(i)"></i>
          </div>
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-trash-alt" (click)="eliminar(proyecto.projectId)"></i>
          </div>
        </div>
      </div>
      <div>
        <div class="margin-bottom: -15px; margin-top: -15px;">
          <p>{{proyecto?.description}}</p>
        </div>
        <div class="small-grey">
          <a class="form-text" href={{proyecto?.github}}>{{proyecto?.github}}</a>
        </div>
        <div class="small-grey">
          <a  class="form-text" href={{proyecto?.url}}>{{proyecto?.url}}</a>
        </div>
      </div>
    </div>

    <!-- Editar -->
    <div *ngIf="seleccionIndex === i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <div class="all">
          <small class="form-text text-muted">Nombre del proyecto</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="proyecto.name">
        </div>
        <div class="buttons-container">
          <div class="button-bkg">
            <i class="fas fa-check" (click)="guardar(proyecto)"></i>
          </div>
          <div class="button-bkg">
            <i class="fas fa-ban" (click)="desactivarModoEdicion()"></i>
          </div>
        </div>
      </div>
      <div>
        <div class="all ">
          <small class="form-text text-muted">Descripción</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="proyecto.description">
        </div>
        <div class="all ">
          <small class="form-text text-muted">Github</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="proyecto.github">
        </div>
        <div class="all ">
          <small class="form-text text-muted">Url</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="proyecto.url">
        </div>
      </div>
    </div>
  </div>
</div>
