<div class="general-container">
  <div>
    <img class="img-portada"
      src="assets\portada.jpg"
      alt="portada">
    <!-- Ver -->
    <div *ngIf="!modoEdicion" class="card no-border">
      <div class="encabezado-inline">
        <img class="img-profile" src="assets/foto.jpeg" alt="rocio-vargas">
        <div style="margin-left: 5px;">
          <div class="title-and-buttons-card">
            <h1>{{data?.firstName}} {{data?.lastName}}</h1>
            <div class="button-bkg">
              <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion()"></i>
            </div>
          </div>
          <div class="text-card">
            <p>{{data?.title}}</p>
            <p>{{data?.location}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Editar -->
    <div *ngIf="modoEdicion" class="card no-border">
      <div class="edit-container">
        <div class="inputs-encabezado">
          <div class="all">
            <small class="form-text text-muted">Nombre/s</small>
            <input class="form-control" [(ngModel)]="data.firstName">
          </div>
          <div class="all">
            <small class="form-text text-muted">Apellido/s</small>
            <input class="form-control" [(ngModel)]="data.lastName">
          </div>
        </div>
        <div class="buttons-container">
          <div class="button-bkg">
            <i class="fas fa-check" (click)="guardarCambios(data)"></i>
          </div>
          <div class="button-bkg">
            <i class="fas fa-ban" (click)="desactivarModoEdicion()"></i>
          </div>
        </div>
      </div>
      <div class="text-card">
        <div class="inputs-encabezado">
          <div class="all">
            <small class="form-text text-muted">Título</small>
            <input class="form-control" [(ngModel)]="data.title">
          </div>
        </div>
        <div class="all">
          <small class="form-text text-muted">Ubicación</small>
          <input class="form-control" [(ngModel)]="data.location">
        </div>
      </div>
    </div>
  </div>
</div>
