<div class="card">
  <div class="title-and-buttons-card">
    <h2>Experiencia</h2>
    <div class="buttons-container">
      <div class="button-bkg">
        <i *ngIf="this.estaAuntenticado()" class="fas fa-plus" (click)="activarModoAdicion()"></i>
      </div>
    </div>
  </div>
  <!-- Agregar -->
  <div *ngIf="modoAdicion" class="box-border">
    <div class="title-and-buttons-card">
      <div class="all">
        <small class="form-text text-muted">Puesto</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nueva.jobTitle">
      </div>
      <div class="buttons-container">
        <div class="button-bkg">
          <i class="fas fa-check" (click)="agregar(nueva)"></i>
        </div>
        <div class="button-bkg">
          <i class="fas fa-ban" (click)="desactivarModoAdicion()"></i>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div class="title-and-buttons-card">
          <div class="all ">
            <small class="form-text text-muted">Empresa</small>
            <input class="form-control inputs-encabezado" [(ngModel)]="nueva.company">
          </div>
          <div class="all">
            <small class="form-text text-muted">Tipo de trabajo</small>
            <select class="form-control inputs-encabezado" [(ngModel)]="nueva.typeId">
              <option *ngFor="let tipo of tiposTrabajo" [value]="tipo.value">{{ tipo.label }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="all ">
        <small class="form-text text-muted">Descripción</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nueva.description">
      </div>
      <div class="title-and-buttons-card">
        <div class="all">
          <small class="form-text text-muted">Fecha de comienzo</small>
          <input class="form-control inputs-encabezado" type="date" [(ngModel)]="nueva.startDate">
        </div>
        <div class="all ">
          <small class="form-text text-muted">Fecha de fin</small>
          <input class="form-control inputs-encabezado" type="date" [(ngModel)]="nueva.endDate"
            [disabled]="nueva.isActual">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="nueva.isActual" (change)="reiniciarFecha(nueva)">
          <label class="form-text text-muted">
            Actualmente tengo este cargo
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- Ver -->
  <div class="box-border" *ngFor="let experiencia of listado; let i = index ">
    <div *ngIf="seleccionIndex !== i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <h6>{{experiencia?.jobTitle}}</h6>
        <div class="buttons-container">
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion(i)"></i>
          </div>
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-trash-alt"
              (click)="eliminar(experiencia.experienceId)"></i>
          </div>
        </div>
      </div>
      <div>
        <div style="display: flex; flex-direction: row; margin-bottom: -15px; margin-top: -15px;">
          <p>{{experiencia?.company}} · </p>
          <p>{{ obtenerLabelTipoTrabajo(experiencia?.typeId) }}</p>
        </div>
        <small class="small-grey">{{experiencia?.description}}</small>

        <div class="small-grey" *ngIf="!experiencia.isActual">
          <small>{{experiencia?.startDate}} · {{ experiencia.endDate }}</small>
        </div>

        <div class="small-grey" *ngIf="experiencia.isActual">
          <small>{{experiencia?.startDate}} · Actualidad</small>
        </div>

      </div>
    </div>

    <!-- Editar -->
    <div *ngIf="seleccionIndex === i" style="border: 1px;">
      <div class="title-and-buttons-card">
        <div class="all">
          <small class="form-text text-muted">Puesto</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="experiencia.jobTitle">
        </div>
        <div class="buttons-container">
          <div class="button-bkg">
            <i class="fas fa-check" (click)="agregar(experiencia)"></i>
          </div>
          <div class="button-bkg">
            <i class="fas fa-ban" (click)="desactivarModoEdicion()"></i>
          </div>
        </div>
      </div>
      <div>
        <div>
          <div class="title-and-buttons-card">
            <div class="all ">
              <small class="form-text text-muted">Empresa</small>
              <input class="form-control inputs-encabezado" [(ngModel)]="experiencia.company">
            </div>
            <div class="all">
              <small class="form-text text-muted">Tipo de trabajo</small>
              <select class="form-control inputs-encabezado" [(ngModel)]="experiencia.typeId">
                <option *ngFor="let tipo of tiposTrabajo" [value]="tipo.value">{{ tipo.label }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="all ">
          <small class="form-text text-muted">Descripción</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="experiencia.description">
        </div>
        <div class="title-and-buttons-card">
          <div class="all">
            <small class="form-text text-muted">Fecha de comienzo</small>
            <input class="form-control inputs-encabezado" type="date" [(ngModel)]="experiencia.startDate">
          </div>
          <div class="all ">
            <small class="form-text text-muted">Fecha de fin</small>
            <input class="form-control inputs-encabezado" type="date" [(ngModel)]="experiencia.endDate"
              [disabled]="experiencia.isActual">
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="experiencia.isActual"
              (change)="reiniciarFecha(experiencia)">
            <label class="form-text text-muted">
              Actualmente tengo este cargo
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>