<div class="card">
  <div class="title-and-buttons-card">
    <h2>Skills</h2>
    <div class="buttons-container">
      <div class="button-bkg">
        <i *ngIf="this.estaAuntenticado()" class="fas fa-plus" (click)="activarModoAdicion()"></i>
      </div>
    </div>
  </div>
  <div class="container-inline">
    <!-- Agregar -->
    <div *ngIf="modoAdicion" class="card-inline" style="border: 1px;">
      <div class="all">
        <small class="form-text text-muted">Skill</small>
        <input class="form-control inputs-encabezado" [(ngModel)]="nuevo.name">
      </div>
      <div class="all">
        <small class="form-text text-muted">Nivel</small>
        <select class="form-control inputs-encabezado" [(ngModel)]="nuevo.level">
          <option *ngFor="let nivel of niveles" [value]="nivel.value">{{ nivel.label }}</option>
        </select>
      </div>
      <div class="buttons-container">
        <div class="button-bkg">
          <i class="fas fa-check" (click)="agregar(nuevo)"></i>
        </div>
        <div class="button-bkg">
          <i class="fas fa-ban" (click)="desactivarModoAdicion()"></i>
        </div>
      </div>
    </div>
    <div class="card-inline" *ngFor="let skill of listado; let i = index ">
      <!-- Ver -->
      <div *ngIf="seleccionIndex !== i" style="border: 1px;">
        <div class="buttons-container">
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-pencil-alt" (click)="activarModoEdicion(i)"></i>
          </div>
          <div class="button-bkg">
            <i *ngIf="this.estaAuntenticado()" class="fas fa-trash-alt" (click)="eliminar(skill.skillId)"></i>
          </div>
        </div>
        <h6>{{skill?.name}}</h6>
        <div>
          <p>Nivel: {{ obtenerLabel(skill?.level) }}</p>
          <circle-progress [percent]="skill.level" [radius]="50" [outerStrokeWidth]="12" [innerStrokeWidth]="6"
            [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300">
          </circle-progress>
        </div>
      </div>
      <!-- Editar -->
      <div *ngIf="seleccionIndex === i" style="border: 1px;">
        <div class="all">
          <small class="form-text text-muted">Skill</small>
          <input class="form-control inputs-encabezado" [(ngModel)]="skill.name">
        </div>
        <div class="all">
          <small class="form-text text-muted">Nivel</small>
          <select class="form-control inputs-encabezado" [(ngModel)]="skill.level">
            <option *ngFor="let nivel of niveles" [value]="nivel.value">{{ nivel.label }}</option>
          </select>
        </div>
        <div class="buttons-container">
          <div class="button-bkg">
            <i class="fas fa-check" (click)="guardar(skill)"></i>
          </div>
          <div class="button-bkg">
            <i class="fas fa-ban" (click)="desactivarModoEdicion()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
