<header>
  <div class="logo" >
      <img src="assets/ArgProg.png" alt="Logo de ArgProg" (click)="cargarInicio()">
  </div>
  <div class="social-icons">
    <a [href]="data?.github" target="_blank">
      <img src="assets/gh.png" alt="Logo de GitHub">
    </a>
    <a [href]="data?.linkedin" target="_blank">
      <img src="assets/linkedin2.png" alt="Logo de LinkedIn">
    </a>
    <a>
      <i *ngIf="this.estaAuntenticado()" class="fas fa-power-off fa-lg" style="color: #fafafa;" (click)="cerrarSesion()"></i>
      <i *ngIf="!this.estaAuntenticado()"  [routerLink]="'/iniciar-sesion'" class="fas fa-user fa-lg" style="color: #fafafa;"></i>
    </a>
  </div>
</header>