header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191970;
  padding: 10px;
  height: 60px;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.logo img {
  height: 100px;
}

.social-icons a {
  margin-left: 10px;
}

.social-icons img {
  height: 30px;
}
